{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %} 

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="cover">
  {% include 'includes/navigation-light.html' %}
  <div class="car-top">
    <img src="/static/assets/img/back-to-top.png" width=74 height=114 class="btn-back-to-top" />
  </div>



  <div class="shadow-xl mx-3 mx-md-4">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container">

              <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          
          <h2 class="text-gradient text-warning mb-3">Services Offered</h2>

        </div>
      </div>

          <div class="row align-items-center">

                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  text-center">
            <img src="/static/assets/img/our-cars.svg" />
          </div>
          <div class="description ps-3">
          <h5 class="text-gradient text-warning mb-0">Quality Vehicles</h5>
            <h6>and Trade-in Appraisals.</h6>
          </div>
        </div>
      </div>
       <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0 text-end">
 <a href="/collection">
              <button type="button" class="btn bg-gradient-warning m-auto w-30">FIND YOUR CAR</button>
            </a>
          </div>
    


    </div>
                <div class="row justify-content-start mb-3">


              <div class="col-md-3">
                        <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/3.jpg" />
          </div>
                <div class="info">
                  <h5>Vehicle inspections</h5>
                  <p>All of our vehicles undergo a thorough inspection to ensure they meet our high standards for safety and quality.</p>
                </div>
              </div>

                  <div class="col-md-3">
                            <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/4.jpg" />
          </div>
                <div class="info">
                  <h5>Trade-in appraisals</h5>
                  <p>We'll give you a fair and accurate appraisal for your trade-in vehicle.</p>
                </div>
              </div>

          
              <div class="col-md-3">
                                   <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/7.jpg" />
          </div>
                <div class="info">
              
                  <h5>Warranty options</h5>
                  <p>We offer a variety of extended warranty options to give you peace of mind.</p>
                </div>
              </div>
              <div class="col-md-3">
                                   <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/8.jpg" />
          </div>
                <div class="info">

                  <h5>Maintenance and repair services</h5>
                  <p>Our expert technicians provide top-notch maintenance and repair services for your vehicle.</p>
                </div>
              </div>
            </div>

        


        <div class="row align-items-center">
         
            <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  text-center">
            <img src="/static/assets/img/us.svg" />
          </div>
          <div class="description ps-3">
          <h5 class="text-gradient text-warning mb-0">Personalized Attention </h5>
            <h6>and Expert Advice.</h6>
          </div>
        </div>
      </div>
          <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0 text-end">
 <a href="/faq.html">
              <button type="button" class="btn bg-gradient-warning m-auto w-30">MORE INFO</button>
            </a>
          </div>
     
    </div>
                <div class="row justify-content-start mb-3">


              <div class="col-md-3">
                    <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/1.jpg" />
          </div>
                <div class="info">
                
                  <h5>Personalized attention</h5>
                  <p>We take the time to understand your needs and help you find the perfect vehicle.</p>
                </div>
              </div>

                  <div class="col-md-3">
                            <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/2.jpg" />
          </div>
                <div class="info">
                  <h5>Expert advice</h5>
                  <p>Our knowledgeable staff will guide you through the car-buying process and answer any questions you may have.</p>
                </div>
              </div>

          
              <div class="col-md-3">
                           <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/9.jpg" />
          </div>
                <div class="info">
              
                  <h5>Competitive financing</h5>
                  <p>We work with multiple lenders to find you the best financing options available.</p>
                </div>
              </div>
              <div class="col-md-3">
                           <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/20.jpg" />
          </div>
                <div class="info">

                  <h5>Quality vehicles</h5>
                  <p>We offer a wide selection of high-quality pre-owned vehicles to choose from.</p>
                </div>
              </div>
            </div>
          </div>

 
 

<div class="container">
    <div class="row justify-content-start">
        <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
          <div class="icon icon-shape  text-center">
            <img src="/static/assets/img/our.svg" />
          </div>
          <div class="description ps-3">
          <h5 class="text-gradient text-warning mb-0">Maintenance & Repair Services</h5>
            <h6>and Customer Satisfaction.</h6>
          </div>
        </div>
              <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0 text-end">
 <a href="/collection">
              <button type="button" class="btn bg-gradient-warning m-auto w-30">FIND YOUR CAR</button>
            </a>
          </div>
     
    </div>

                <div class="row justify-content-start mb-2">


              <div class="col-md-3">
                                    <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/11.jpg" />
          </div>
                <div class="info">
                  <h5>Detailing services</h5>
                  <p>We offer professional detailing services to keep your vehicle looking its best.</p>
                </div>
              </div>

                  <div class="col-md-3">
                                        <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/12.jpg" />
          </div>
                <div class="info">
                  <h5>Test drives</h5>
                  <p>Take a test drive and experience the vehicle before you make a purchase.</p>
                </div>
              </div>

          
              <div class="col-md-3">
                        <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/5.jpg" />
          </div>
                <div class="info">
              
                  <h5>Online inventory</h5>
                  <p>Browse our inventory online and easily find the vehicle you're looking for.</p>
                </div>
              </div>
              <div class="col-md-3">
                        <div class="text-center mb-2">
            <img style="margin:0 auto" class="avatar avatar-xxl shadow-xl" src="/static/assets/img/feat/6.jpg" />
          </div>
                <div class="info">

                  <h5>Customer satisfaction</h5>
                  <p>We're committed to ensuring your complete satisfaction with your car-buying experience.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->
    <!-- -------- START Features w/ pattern background & stats & rocket -------- -->
    <section class="pb-5 position-relative bg-gradient-dark mx-n3">
      <div class="container">
        <div class="row">

          <div class="col-md-8 text-start mb-5 mt-5">
            <h3 class="text-white z-index-1 position-relative">The Sales Representatives</h3>
            <p class="text-white opacity-8 mb-0">Dedicated team committed to hassle-free car buying experience.</p>
          </div>
        </div>
        <div class="row">
                 <div class="col-lg-6 col-12">
            <div class="card card-profile mt-lg-4 mt-5 z-index-2">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/ivana-square.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">Marquez Garcia</h5>
                    <h6 class="text-warning">Director</h6>
                    <p class="mb-0">At AL Siddique Motors , we take the full-service experience to a whole new level and that goes beyond just shopping for a vehicle</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="card card-profile mt-4">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/team-5.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">Emma Roberts</h5>
                    <h6 class="text-warning">Auto Dearler</h6>
                    <p class="mb-0">
Communicating with customers in a respectful, clear, engaging, and transparent manner. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="card card-profile mt-lg-4 mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/bruce-mars.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">William Pearce</h5>
                    <h6 class="text-warning">Car Dealer</h6>
                    <p class="mb-0">Determination. Persistent and resilient in the face of everyday challenges. Respect. Treats others well.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-lg-6 col-12">
            <div class="card card-profile mt-4 z-index-2">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/ivana-squares.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">Ivana Flow</h5>
                    <h6 class="text-warning">Auto Dealer</h6>
                    <p class="mb-0">Delivering an exceptional customer experience throughout the car buying process. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
   
        </div>
      </div>
    </section>


<!-- START Blogs w/ big image on left -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8  d-flex justify-content-center flex-column text-lg-start text-center">
        <h2 class="mb-4">About</h2>
        <p class="mb-2">

Discover the AL Siddique Motors difference – where your needs always come first. Our team of automotive experts is dedicated to providing great customer service and building lasting relationships. With a wide range of cars, strong relationships with suppliers, and a commitment to customer confidence and support, we're the dealership that delivers.</h6>
<h6 class="mt-4">Why You Should Buy From Us</h6>
        <ul class="m-lg-2 m-auto">
          <li class="mb-2">Quality and certified pre-owned vehicles</li>

          <li class="mb-2">Financing and leasing options</li>
          <li class="mb-2">Trade-in and appraisal services</li>
 <li class="mb-2">Experienced and knowledgeable sales staff</li>
          <li class="mb-2">Competitive pricing and specials</li>
           <li class="mb-2">Convenient location and hours of operation</li>
            <li class="mb-2">Test drive opportunities and vehicle demonstrations</li>
        </ul>
        <p> Come see us today at our Ngong Road location in Nairobi and experience the personalized care and professionalism you deserve.</p>



        <p class="blockquote my-3 ps-2">
          <span class="text-bold">“We purchased a vehicle and had a great experience! The staff is very friendly and answered all our questions. Hassle-free test drive and all information clearly presented.”</span>
          <br>
          <small class="blockquote-footer">
          Shailesh Kushwaha
          </small>
        </p>
      </div>
      <div class="col-md-3  mx-lg-0 mx-auto px-lg-0 px-md-0 my-auto">
          <div class="card card-blog card-background cursor-pointer">
              <div class="full-background" style="background-image: url('/static/assets/img/road1.jpg')" loading="lazy"></div>
              <div class="card-body">
                <div class="content-left text-start my-auto py-4">
                  <h3 class="card-title text-white"> Opening Hours </h3>
                
                   <div class="table-responsive">
               
                <table class="table align-items-center mb-0 text-white">
                   
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Monday</th>
                    <td class="text-capitalize text-sm">8:30am - 6:45pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tuesday</th>
                    <td class="text-capitalize text-sm">8:30am - 6:45pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Wednesday</th>
                    <td class="text-capitalize text-sm">8:30am - 6:45pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Thursday</th>
                    <td class="text-capitalize text-sm">8:30am - 6:45pm</td>
                  </tr>        
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Friday</th>
                    <td class="text-capitalize text-sm">8:30am - 6:45pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Saturday</th>
                    <td class="text-capitalize text-sm">8:30am - 2:30pm</td>                      
                  </tr>
                       <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Sunday</th>
                    <td class="text-capitalize text-sm">Closed</td>                      
                  </tr>              
<tr></tr>
        
                  </table>
                  
                  </div>

                  
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>
<!-- END Blogs w/ big image on left -->





  </div>

    {% include 'includes/footer.html' %} 
</div>
{% endblock content %}


