{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %} 

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="cover">
  {% include 'includes/navigation-light.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('/static/assets/img/about-bg.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Delivering more than expected.</h1>
            <p class="lead mb-4 text-white opacity-8">Alsmotors brings sincerity and originality to all customers by providing quaity vehicles at an affordable price</p>
            <button type="submit" class="btn bg-white text-dark">Inventory</button>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n8">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-gradient text-warning mb-3">public</i>
                  <h5>Customer Service</h5>
                  <p>We strongly beleive that customer service should be exemplary at all times from first inquiry through to handover of the vehicles.Our aim is to bring intergrity to buying car while developing long-term relationship </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-gradient text-warning mb-3">payments</i>
                  <h5>Great Deals</h5>
                  <p>Being in the  business for long, we've   made it our business to ensure customers not only get a great deal on a new or quality pre-owned car, but  they also enjoy a hasslee- free experience. </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-gradient text-warning mb-3">apps</i>
                  <h5>Customer Support</h5>
                  <p>Interacting with customers is a key part of our day to day business.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-gradient text-warning mb-3">3p</i>
                  <h5>Wide Car Range</h5>
                  <p>We stock a wide range of Japanese vehicles,including sedans,buses,tractors,rucks,motocycles and even car parts</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 ms-auto mt-lg-0">
                <div class="p-0 position-relative mx-3 z-index-2">
              <img src="/static/assets/img/img1.png" alt="img-colored-shadow" class="img-fluid border-radius-lg">
          
          </div>



<div class="card bg-gradient-dark mt-n7 opacity-8">
      
          <div class="card-body mt-6 text-center">
            <h5 class="font-weight-normal text-white">
             AL Siddique Motors
            </h5>
            <p class="mb-0 text-white">
           

Alsmotors is the most enticing, creative, modern and multipurpose auto dealer Company.Kenya,s number one importers of high end Used And New Vehicles.
            </p>
            <button type="button" class="btn bg-gradient-warning btn-sm mb-0 mt-3 text-uppercase">Get Started</button>
          </div>
        </div>
    

          </div>
        </div>
      </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->
    <!-- -------- START Features w/ pattern background & stats & rocket -------- -->
    <section class="pb-5 position-relative bg-gradient-dark mx-n3">
      <div class="container">
        <div class="row">

          <div class="col-md-8 text-start mb-5 mt-5">
            <h3 class="text-white z-index-1 position-relative">The Executive Team</h3>
            <p class="text-white opacity-8 mb-0">There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill.</p>
          </div>
        </div>
        <div class="row">
                 <div class="col-lg-6 col-12">
            <div class="card card-profile mt-lg-4 mt-5 z-index-2">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/ivana-square.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">Marquez Garcia</h5>
                    <h6 class="text-warning">Director</h6>
                    <p class="mb-0">At AL Siddique Motors , we take the full-service experience to a whole new level and that goes beyond just shopping for a vehicle</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="card card-profile mt-4">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/team-5.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">Emma Roberts</h5>
                    <h6 class="text-warning">Auto Dearler</h6>
                    <p class="mb-0">
Communicating with customers in a respectful, clear, engaging, and transparent manner. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="card card-profile mt-lg-4 mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/bruce-mars.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">William Pearce</h5>
                    <h6 class="text-warning">Car Dealer</h6>
                    <p class="mb-0">Determination. Persistent and resilient in the face of everyday challenges. Respect. Treats others well.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-lg-6 col-12">
            <div class="card card-profile mt-4 z-index-2">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="javascript:;">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg" src="/static/assets/img/ivana-squares.jpg" alt="image">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-0">Ivana Flow</h5>
                    <h6 class="text-warning">Auto Dealer</h6>
                    <p class="mb-0">Delivering an exceptional customer experience throughout the car buying process. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
   
        </div>
      </div>
    </section>


<!-- START Blogs w/ big image on left -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8  d-flex justify-content-center flex-column text-lg-start text-center">
        <h2 class="mb-4">About</h2>
        <p class="mb-2">

If you've been searching for a dealership that treats your needs with paramount concern, look no further than AL Siddique Motors near Ngong Road, Nairobi.we've perfected the art of fostering relationships with our clients. We come to work every day ready to meet your needs and exceed your expectations because we pride ourselves on a firm commitment to excellence. We believe you deserve a VIP car-buying or -repairing experience, so we'll always strive to deliver the professionalism and personalized care you'd expect from your local Pennsylvania dealership.</p>
<h6 class="mt-4">Why You Should Buy From Us</h6>
        <ul class="m-lg-2 m-auto">
          <li class="mb-2">Great Customer Service</li>

          <li class="mb-2">Customer Confidence & Support</li>
          <li class="mb-2">Good Relationship With Suppliers</li>

          <li class="mb-2">Wide Range Of Cars</li>
        </ul>
        <p>Shop one of our AL Siddique Motors near Ngong Road, Nairobi today and find the affordable luxury sedan, crossover or SUV you've always wanted.</p>


        <p class="blockquote my-3 ps-2">
          <span class="text-bold">“We purchased a vehicle and had a great experience! The staff is very friendly and answered all our questions. Hassle-free test drive and all information clearly presented.”</span>
          <br>
          <small class="blockquote-footer">
          Shailesh Kushwaha
          </small>
        </p>
      </div>
      <div class="col-md-3  mx-lg-0 mx-auto px-lg-0 px-md-0 my-auto">
          <div class="card card-blog card-background cursor-pointer">
              <div class="full-background" style="background-image: url('/static/assets/img/road1.jpg')" loading="lazy"></div>
              <div class="card-body">
                <div class="content-left text-start my-auto py-4">
                  <h4 class="card-title text-white"> Hours </h4>
                
                   <div class="table-responsive">
               
                <table class="table align-items-center mb-0 text-white">
                   
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Monday</th>
                    <td class="text-capitalize text-xs">9:00am - 6:00pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tuesday</th>
                    <td class="text-capitalize text-xs">9:00am - 6:00pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Wednesday</th>
                    <td class="text-capitalize text-xs">9:00am - 6:00pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Thursday</th>
                    <td class="text-capitalize text-xs">9:00am - 6:00pm</td>
                  </tr>        
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Friday</th>
                    <td class="text-capitalize text-xs">9:00am - 6:00pm</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Saturday</th>
                    <td class="text-capitalize text-xs">9:00am - 6:00pm</td>                      
                  </tr>
                       <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sunday</th>
                    <td class="text-capitalize text-xs">Closed</td>                      
                  </tr>              

        
                  </table>
                  
                  </div>

                  
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>
<!-- END Blogs w/ big image on left -->





  </div>

    {% include 'includes/footer.html' %} 
</div>
{% endblock content %}


