{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %} 

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="cover">
  {% include 'includes/navigation-light.html' %}
  <div class="car-top">
    <img src="/static/assets/img/back-to-top.png" width=74 height=114 class="btn-back-to-top" />
  </div>



  <div class="shadow-xl mx-3 mx-md-4">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container">

              <div class="row">
                    <h2 class="text-gradient text-warning mb-3">FAQ & Support</h2>

        <div class="col-lg-3 mx-auto text-center">
          
      



Browse FAQ

Get answers to everything from how we choose our cars to how to make payments.











        </div>
                <div class="col-lg-9 mx-auto text-center">
          
       <div class="row justify-content-start pb-2">


      <div class="col-4 pb-2">
        
        <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/1.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>FINDING A CAR</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   <div class="col-4 pb-2">
           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/2.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>SELLING A CAR</span>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
   <div class="col-4 pb-2">

           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/3.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>BUYING A CAR</span>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
   <div class="col-4 pb-2">

           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/4.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>SELLING A CAR</span>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
   <div class="col-4 pb-2">
           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/5.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>FINANCING</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         <div class="col-4 pb-2">
           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/6.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>WARRANTIES & MORE</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         <div class="col-4 pb-2">

           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/7.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>MAKING PAYMENTS</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         <div class="col-4 pb-2">

           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/8.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>SAFTEY RECALLS</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         <div class="col-4 pb-2">

           <div class="card card-background">
          <div class="full-background" style="width:40%;height:70%; background-image: url(/static/assets/img/faq/9.svg)"></div>
          <div class="card-body cont body-left ">
            <div class="text-start">
              <div class="author">
                <div class="name mt-5 text-black ms-6 text-center">
                  <span>SECURITY</span>
                </div>
              </div>
            </div>
          </div>
        </div>


   
      </div>
    </div>
  </div>



          <div class="row align-items-center">

                <div class="col-lg-3 mt-lg-0 mt-5 ps-lg-0 ps-0">
Reach a car-buying expert
                </div>

                              <div class="col-lg-9 mt-lg-0 mt-5 ps-lg-0 ps-0">
    <div style="width:70%;margin:0 auto;">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="btn-inner--icon"><i class="material-icons text-lg">call</i></span>
                            <span class="btn-inner--text">(+254) 792 888 666</span>
                        </button>
                    </div>
                      <div style="width:70%;margin:0 auto;">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="btn-inner--icon"><i class="material-icons text-lg">call</i></span>
                            <span class="btn-inner--text">(+254) 792 888 666</span>
                        </button>
                    </div>
                </div>


              </div>

                    <div class="row align-items-center">

                <div class="col-lg-3 mt-lg-0 mt-5 ps-lg-0 ps-0">
Reach us on social media
                </div>

                              <div class="col-lg-9 mt-lg-0 mt-5 ps-lg-0 ps-0">
    <div style="width:70%;margin:0 auto;">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="btn-inner--icon"><i class="material-icons text-lg">call</i></span>
                            <span class="btn-inner--text">(+254) 792 888 666</span>
                        </button>
                    </div>
                </div>


              </div>
                
                    <div class="row align-items-center">

                <div class="col-lg-3 mt-lg-0 mt-5 ps-lg-0 ps-0">
Other Resources
                </div>

                              <div class="col-lg-9 mt-lg-0 mt-5 ps-lg-0 ps-0">
    <div style="width:70%;margin:0 auto;">
                   

                   <div class="accordion" id="accordionRental">
          <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingOne">
              <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How often should I change my oil?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionRental">
              <div class="accordion-body text-sm opacity-8">
        It is generally recommended to change your oil every 5,000 to 7,500 miles, depending on your vehicle and driving conditions. Consult your owner's manual for specific recommendations.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingTwo">
              <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               How do I check my tire pressure?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
              <div class="accordion-body text-sm opacity-8">
              You can check your tire pressure using a tire pressure gauge. Simply remove the valve cap from the tire, press the gauge onto the valve stem, and read the pressure on the gauge.
          
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingThree">
              <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               What is the recommended tire pressure for my vehicle?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
              <div class="accordion-body text-sm opacity-8">
           The recommended tire pressure can usually be found on a sticker inside the driver's side door jamb or in your owner's manual. It may also be listed on the tire itself.
              </div>
            </div>
          </div>

  
               <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingThree">
              <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             What is the recommended maintenance schedule for my car?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
              <div class="accordion-body text-sm opacity-8">
           The recommended maintenance schedule can usually be found in your owner's manual. It will outline when specific services, such as oil changes and tune-ups, should be performed.
              </div>
            </div>
          </div>


             <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingThree">
              <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             How do I change a flat tire?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
              <div class="accordion-body text-sm opacity-8">
   To change a flat tire, you will need a spare tire, a jack, and a lug wrench. Loosen the lug nuts, jack up the vehicle, remove the lug nuts and tire, replace with the spare tire, tighten the lug nuts, and lower the vehicle.
              </div>
            </div>
          </div>
        </div>
                </div>


              </div>
            </div>
          </section>

        </div>

  </div>

    {% include 'includes/footer.html' %} 

{% endblock content %}


