{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

{% block body_class %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="cover">
  {% include 'includes/navigation-light.html' %}

  <div class="car-top">
    <img src="/static/assets/img/back-to-top.png" width=74 height=114 id="btn-back-to-top" />
  </div>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
              <div class="alert alert-primary alert-dismissible text-white" role="alert">

                <span class="text-sm">{{ message }}</span>
                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
           {% endfor %}
   {% endif %}
      {% endwith %}

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner mb-4">
      <div class="carousel-item active">
        <div class="page-header min-vh-75" style="background-image: url('/static/assets/img/car1.jpg');">
          <!-- <span class="mask bg-gradient-dark"></span> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-6 my-auto">
                <h3 class="text-white mb-0 fadeIn1 fadeInBottom">TRUSTED BY THOUSANDS</h3>
                <h1 class="text-white fadeIn2 fadeInBottom" id="state1" countTo="2234">0</h1>
                <h6 class="lead text-white opacity-8 fadeIn3 fadeInBottom">With over 120,000 vehicles sold, we are trusted by many thousands of customers around the world. If you are looking for your next mobility solution, please do not hesitate to contact us today</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="page-header min-vh-75" style="background-image: url('/static/assets/img/bg-8.jpg');">
          <!-- <span class="mask bg-gradient-dark"></span> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-6 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">QUALITY SERVICE</h4>
                <h1 class="text-white fadeIn2 fadeInBottom"> 24/7 </h1>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Dependable, reliable and guaranteed quality on
                  time every time makes Legend your chosen partner in business</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="min-vh-75 position-absolute w-100 top-0">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

 <div class="container">
  <div class="row" id="body-vehicles"></div>
  </div>
          



  <section class="pt-5">
    <div class="row">

      <div class="blur move-item">
        <div class="row">
          <div class="col-md-4 col-12 my-auto img-move-right">
            <img class="w-100" src="/static/assets/img/left.webp" alt="Product Image">
          </div>
          <div class="col-md-4 col-12 my-auto text-center">
            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="/static/assets/img/customer-service.png"
              alt="bruce" loading="lazy">
            <p>Have any question ?</p>
            <h1 class="text-gradient text-warning">(+254) 700 888 666</h1>
          </div>
          <div class="col-md-4 col-12 my-auto img-move-left">

            <img width="428" height="355" src="/static/assets/img/right.webp" alt="Product Image">

          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="pb-5 position-relative bg-gradient-dark mx-n3" style="background-image: url('/static/assets/img/car-bg.jpg');  background-position: center; 
background-repeat: no-repeat; background-size: cover;">
    <span class="mask bg-gradient-dark opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h3 class="mb-0 text-white">What Our Clients say about us</h3>
          <h2 class="text-gradient text-warning mb-3">our Testimonial </h2>

        </div>
      </div>
      <div class="row">


        <div class="swiper test-slider">

          <div class="swiper-wrapper">
            <div class="col-md-4 col-12 swiper-slide">
              <div class="card">
                <div class="page-header min-height-150"
                  style="background-image: url('/static/assets/img/2.jpg');" loading="lazy">
              
                </div>
                <div class="card-body">
                  <section class="py-sm-6  position-relative" style="padding-bottom:0 !important">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 mx-auto">
                          <div class="mt-n8 mt-md-n9 text-center">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                              src="/static/assets/img/img01.jpg" alt="bruce" loading="lazy">
                            <h6 class="text-black mb-0 font-weight-bolder">Felicia Queen</h6>
                          </div>
                          <div class="row">
                            <p class="mt-2 text-black">"We purchased a vehicle and had a great experience! The staff is
                              very
                              friendly and answered all our questions. Hassle-free test drive and all information
                              clearly
                              presented.One of the best place to buy your car, great service and also great cars."</p>
                            <div class="rating mt-2">
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
              </div>
            </div>
         

            <div class="col-md-4 col-12 swiper-slide">
              <div class="card">
                <div class="page-header min-height-150"
                  style="background-image: url('/static/assets/img/bg-5.jpg');" loading="lazy">
               
                </div>
                <div class="card-body">
                  <section class="py-sm-6  position-relative" style="padding-bottom:0 !important">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 mx-auto">
                          <div class="mt-n8 mt-md-n9 text-center">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                              src="/static/assets/img/img02-.jpg" alt="Marquez" loading="lazy">
                            <h6 class="text-black mb-0 font-weight-bolder">Melissa Doe</h6>
                          </div>
                          <div class="row">
                            <p class="mt-2 text-black">"I have dealt with AL Siddique Motors for several years they are honest and works hard to find you what you need. Thet saved me lots of time looking and there price is always better than everywhere else I look. Only place I would go to hunt down a car."</p>
                            <div class="rating mt-2">
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
              </div>
            </div>
          


         
            <div class="col-md-4 col-12 swiper-slide">
              <div class="card">
                <div class="page-header min-height-150"
                  style="background-image: url('/static/assets/img/3.jpg');" loading="lazy">
                 
                </div>
                <div class="card-body">
                  <section class="py-sm-6  position-relative" style="padding-bottom:0 !important">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 mx-auto">
                          <div class="mt-n8 mt-md-n9 text-center">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                              src="/static/assets/img/img03.jpg" alt="emma" loading="lazy">
                            <h6 class="text-black mb-0 font-weight-bolder">Michelle Kent</h6>
                          </div>
                          <div class="row">
                            <p class="mt-2 text-black">"AL Siddique Motors was the first place we looked when buying our car and after shopping around we returned. The selection and prices were great.We would buy there again and recommend it to our friends.They have good quality prompt service!"</p>
                            <div class="rating mt-2">
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
              </div>
            </div>
          
            <div class="col-md-4 col-12 swiper-slide">
              <div class="card">
                <div class="page-header min-height-150"
                  style="background-image: url('/static/assets/img/bgimg02.jpg');" loading="lazy">
                 
                </div>
                <div class="card-body">
                  <section class="py-sm-6  position-relative" style="padding-bottom:0 !important">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 mx-auto">
                          <div class="mt-n8 mt-md-n9 text-center">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                              src="/static/assets/img/img04.jpg" alt="emma" loading="lazy">
                            <h6 class="text-black mb-0 font-weight-bolder">Joanna Williams</h6>
                          </div>
                          <div class="row">
                            <p class="mt-2 text-black">"Excellent friendly service. Every associate went above and beyond to help us. We were treated like valued customers and not just another number or sale. Our next car will be bought here.Staff was very helpful, easy to work with"</p>
                            <div class="rating mt-2">
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
              </div>
            </div>



            
            <div class="col-md-4 col-12 swiper-slide">
              <div class="card">
                <div class="page-header min-height-150"
                  style="background-image: url('/static/assets/img/bgimg03.jpg');" loading="lazy">
                 
                </div>
                <div class="card-body">
                  <section class="py-sm-6  position-relative" style="padding-bottom:0 !important">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 mx-auto">
                          <div class="mt-n8 mt-md-n9 text-center">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                              src="/static/assets/img/team-5.jpg" alt="emma" loading="lazy">
                            <h6 class="text-black mb-0 font-weight-bolder">Emma Roberts</h6>
                          </div>
                          <div class="row">
                            <p class="mt-2 text-black">"This is the 3rd vehicle I have bought from AL Siddique Motors. They have been excellent to deal with and I have been very happy with all my vehicles purchased. My sister bought a mazda 3 from them and my parents have purchased a ford escape from them as well."</p>
                            <div class="rating mt-2">
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
              </div>
            </div>
        </div>
        </div>
  </section>



  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 my-auto">
          <h3 class="text-gradient text-warning mb-0">You liked it and</h3>
          <h3>Want more?</h3>
          <p class="pe-md-5 mb-4">
            Since 2013 we are positively involved in your world of importing used vehicles from Japan,
            24 hours for our services, seven days a week offering not only the best price, customer service,
            quality vehicles and the right solution for your auto care needs,
            but also initiatives that improve your community and the environment.
          </p>
          <div class="github-buttons">
            <a class="btn bg-gradient-warning mb-5 mb-sm-0">Learn More</a>
            <div class="github-button">
              <span></span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12 my-auto">
          <a target="_blank">
            <img class="w-100" src="/static/assets/img/ban.png" alt="Product Image">
          </a>
        </div>
      </div>
    </div>
  </section>





<section class="py-5">
  





    </div>
  </div>
</section>



  <header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('/static/assets/img/city-profile.jpg')">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
      </div>
    </div>
  </header>
  <section class="my-5">
    <div class="card card-body blur shadow-blur mx-3 mx-md-10 mt-n12 p-0">



    <div class="container">
  
         <div class="row mb-3">
     <div class="col-lg-8">
        <h3>I WANT TO SEARCH FOR</h3>
      </div>
     <div class="col-lg-4  text-end">
       <div class="nav-wrapper position-relative end-0 nav nav-fill p-1" id="pills-tab" role="tablist">

        <button class="btn btn-outline-secondary active" id="pills-brand-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-brand" role="tab" aria-controls="pills-brand" aria-selected="tru
e">Brand</button>
                  <button class="btn btn-outline-secondary" id="pills-make-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-make"role="tab" aria-controls="pills-make" aria-selected="false">Make</button>
      </div>
    

    </div>




  <div class="row">
        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-brand" role="tabpanel" aria-labelledby="pills-brand-tab">
          

        <div class="row justify-content-start">
         

<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/audi.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Audi</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


              <div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/lex.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Lexus</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         <div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/ford.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Ford</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/sub.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Subaru</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
        <div class="row justify-content-start mt-4">
      
  <div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/land.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Land Rover</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
           
<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/vol.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Volvo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                

<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/mer.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Mercedes Benz</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                

<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/maz.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Mazda</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                
        </div>


                <div class="row justify-content-start mt-4">
<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/toyo.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Toyota</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/nissan.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Nissan</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                
<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/voks.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Volswagon</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="col-3">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/logos/peg.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Pegout</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
           
        </div>
      </div>


          <div class="tab-pane fade show" id="pills-make" role="tabpanel" aria-labelledby="pills-make-tab">
          

        <div class="row justify-content-start pb-2">
      <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/sport-car.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Sports Car</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/cabriolet.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Convertibles</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


 <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/sedan.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Sedans</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





 <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/suv.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>SUVs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





 <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/pickup-truck.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Trucks</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



 <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/van.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Vans</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

        <div class="row justify-content-start">

 <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/wagon.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Wagons</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/truck.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Truck</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>






 <div class="col-2">
        <div class="card card-background">
          <div class="full-background" style="background-image: url(/static/assets/img/type/motorcycle.png)"></div>
          <div class="card-body cont body-left">
            <div class="text-start">
              <div class="author">
                <div class="name ms-2 text-black">
                  <span>Motorcycles</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>








            </div>
          </div>
  
    </div>
  </section>




      </div>
    </div>
  </div>
</section>




  <section class="vehicles my-5" id="vehicles">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h3 class="mb-0">Our products of the month</h3>
          <h2 class="text-gradient text-warning mb-3">Promotion Listings</h2>

        </div>
      </div>
      <div class="row">

        <div class="swiper vehicles-slider">

          <div class="swiper-wrapper">

            <div class="swiper-slide box">
              <img src="/static/assets/img/img1.png" alt="">
              <div class="content">
                <h3>new model</h3>

                <p>
                  new
                  <span class="fas fa-circle"></span> 2021
                  <span class="fas fa-circle"></span> automatic
                  <span class="fas fa-circle"></span> petrol
                  <span class="fas fa-circle"></span> 183mph
                </p>
                <a href="#" class="btn bg-gradient-warning mb-5 mb-sm-0">check out</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <img src="/static/assets/img/img2.png" alt="">
              <div class="content">
                <h3>new model</h3>

                <p>
                  new
                  <span class="fas fa-circle"></span> 2021
                  <span class="fas fa-circle"></span> automatic
                  <span class="fas fa-circle"></span> petrol
                  <span class="fas fa-circle"></span> 183mph
                </p>
                <a href="#" class="btn bg-gradient-warning mb-5 mb-sm-0">check out</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <img src="/static/assets/img/img3.png" alt="">
              <div class="content">
                <h3>new model</h3>

                <p>
                  new
                  <span class="fas fa-circle"></span> 2021
                  <span class="fas fa-circle"></span> automatic
                  <span class="fas fa-circle"></span> petrol
                  <span class="fas fa-circle"></span> 183mph
                </p>
                <a href="#" class="btn bg-gradient-warning mb-5 mb-sm-0">check out</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <img src="/static/assets/img/img4.png" alt="">
              <div class="content">
                <h3>new model</h3>

                <p>
                  new
                  <span class="fas fa-circle"></span> 2021
                  <span class="fas fa-circle"></span> automatic
                  <span class="fas fa-circle"></span> petrol
                  <span class="fas fa-circle"></span> 183mph
                </p>
                <a href="#" class="btn bg-gradient-warning mb-5 mb-sm-0">check out</a>
              </div>
            </div>

            <div class="swiper-slide box">
              <img src="/static/assets/img/img1.png" alt="">
              <div class="content">
                <h3>new model</h3>

                <p>
                  new
                  <span class="fas fa-circle"></span> 2021
                  <span class="fas fa-circle"></span> automatic
                  <span class="fas fa-circle"></span> petrol
                  <span class="fas fa-circle"></span> 183mph
                </p>
                <a href="#" class="btn bg-gradient-warning mb-5 mb-sm-0">check out</a>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section>



  {% include 'includes/footer.html' %}


</div>
{% endblock content %}