

<div class="row">
  <div class="col-md-6" style="margin:0 auto">
    <p class="text-center mb-0">Shop | View in Your Browser</p>
    <h2 class="text-center font-weight-normal">Alsmotors</h2>

    <img src="https://res.cloudinary.com/doammcpie/image/upload/c_scale,w_300/v1675346287/about_jw0nsl.jpg">

    <div class="card-body text-center">
    <h3 class="font-weight-normal">Thank you for subscribing to Alsmotors newsletter.</h3>

      <p class="mb-0"> As an Alsmotors subscriber, you will be the first to recieve access to our new collection,</p>
        <p>Discounts and our latest showcase as well as Checkout our featured vehicles</p>

      </p>
      <a href="https://alsmotors-2mlm.onrender.com/collection" target="_blank">
      <button type="button" class="btn bg-gradient-warning btn-sm mb-0 mt-3">SHOP NOW</button>
    </a>
      <h6 class="mb-2 mt-5">Find us on</h6>
      <div class="d-flex justify-content-center">
         <img src="https://res.cloudinary.com/doammcpie/image/upload/c_scale,w_24/v1675347289/facebook_mrprxt.png">
         <img src="https://res.cloudinary.com/doammcpie/image/upload/c_scale,w_24/v1675347289/instagram_bbzvqi.png">
         <img src="https://res.cloudinary.com/doammcpie/image/upload/c_scale,w_24/v1675347289/pinterest_ullcvr.png">
         <img src="https://res.cloudinary.com/doammcpie/image/upload/c_scale,w_24/v1675347288/twitter_oqtb2b.png">
      </div>
  
      <p>Sincerely,</p>
      <br />
  
      <p>The Alsmotors Team</p>
    </div>



  </div>
</div>

