{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %}

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="cover">
  {% include 'includes/navigation-transparent.html' %}


  <!-- Section with four info areas left & one card right with image and waves -->
  <section class="pt-10">
    <div class="container">
      <div class="row">
        <div class="card card-body shadow-xl mt-n6">

          <table class="table">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Location</th>
                <th class="text-right">Price</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>

              {% for car in cars %}
              <tr>
                <td class="text-center">
                  <img class="avatar avatar-sm shadow-xl position-relative z-index-2"
                   src={{ car.image_url }}
                  alt="bruce" loading="lazy">
                </td>
                <td>{{ car.name }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.location }}</td>
                <td class="text-right">&euro; {{ car.price }}</td>
                <td class="td-actions text-right">

                  <button type="button" rel="tooltip" class="btn btn-success btn-simple">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-simple">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>

              {% endfor %}


            </tbody>
          </table>

        </div>
      </div>
  </section>
</div>
{% endblock content %}