
:root{
    --yellow: #b5842c;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

.fadeIn1 {
  animation-duration: 1s;
animation-fill-mode: both;
/* transform: translateX(-50%) translateY(-50%); */
}

.fadeIn2 {
  animation-duration: 2s;
animation-fill-mode: both;

}
.fadeIn3 {
  animation-duration: 3s;
animation-fill-mode: both;
/* transform: translateX(-50%) translateY(-50%); */
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
         transform: translateY(100%); 
      
    }
    to { opacity: 1 }
}


/* .car-top{ */
    /* -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; */
     /* transform: translateX(-50%) translateY(-50%); */
  /* } */

  .car-top {
    width: 85px;
    position: fixed;
    bottom: -180px;
    right: 30px;
    z-index: 999;
    opacity: 1;
    cursor: pointer;
  }



#btn-back-to-top {
  position: fixed;
  z-index:1;
  bottom: 20px;
  right: 20px;
  display: none;
  }

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box img{
    width:100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content{
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1);    
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3{
    font-size: 2.5rem !important;
    color:var(--black);
}

.vehicles .vehicles-slider .box .content .price{
    font-size: 2.2rem !important;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    color:var(--light-color);
    font-size: 1.5rem !important;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    font-size: 1.6rem !important;
    color:var(--light-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span{
    font-size: 1rem;
    color:var(--yellow);
    padding:0 .5rem;
}

.swiper-pagination-bullet-active{
    background: var(--yellow);
}





.featured .featured-slider{
    padding:1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box{
    padding:2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.featured .featured-slider .box img{
    height: 15rem;
}

.featured .featured-slider .box:hover img{
    transform: scale(.9);
}

.featured .featured-slider .box .content h3{
    font-size: 2.2rem !important;
    color:var(--black);
}

.featured .featured-slider .box .content .stars{
    padding:1rem 0;
}

.featured .featured-slider .box .content .stars i{
    font-size: 1.7rem;
    color:var(--yellow);
}

.featured .featured-slider .box .content .price{
    font-size: 2.5rem;
    color:var(--black);
}
.cover{
    display: none;
}

.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
    position: absolute;
}




.loader>div{
    width:50%;
margin:0 auto;
  
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  


.car-top:hover {
 bottom: 52px;
right: 7px;
  width: 85px;
  height: 89px;
  background: url(/static/assets/img/car-focus.png) no-repeat 0 0;
}


 
  


  
  .card-header:hover .info {
    opacity: 0.9;
  
    background-color: #b5842c;
    transform: translateY(0px);
  }

  .card-header-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .border{
    border: 1px solid #fff;
  }
  .card-header .info {
    height:25vh;
    position: relative;
    z-index: 3;
    color: white;
    padding: 0.5rem 1rem;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .card-header .info h5 {
    margin: 0px;
  }
  .card-header .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .card-header .info button {
    border: 2px solid #fff;
    border-radius: 50%;
    background: #b5842c;
    cursor: pointer;
    width:36px;
    height: 36px;
    line-height: 32px;
    transition: 0.4s ease;
  }



.info > div{
    width:50%;
    margin:0 auto;
}



.div{
  width:80%;
  margin:0 auto;
}


.margin{
    width:50%;
    margin: 0 auto;
}



.wait-body{

  background-color: #ffffff;
  background-image: url("/static/assets/img/preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
}


