{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %}

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!--  -->
{% endblock stylesheets %}

{% block content %}
<div class="cover">
    {% include 'includes/navigation-light.html' %}

       {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
              <div class="alert alert-primary alert-dismissible text-white" role="alert">

                <span class="text-sm">{{ message }}</span>
                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
           {% endfor %}
   {% endif %}
      {% endwith %}

    <div class="card card-body shadow-xl">
        <!-- Section with four info areas left & one card right with image and waves -->
        <section class="py-1">
            <div class="container">

                <h5>{{car.name }} </h5>
                <hr />
                <div class="row d-flex">
                    <div class="col-3">
                       <a href="{{ url_for('vehicle_blueprint.vehicle',id=car.id -1) }}">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="btn-inner--icon"><i class="material-icons text-lg">arrow_back</i></span>
                            <span class="btn-inner--text">Previous Vehicle</span>
                        </button>
                    </a>
                    </div>

                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-secondary"  onclick="printArea()">
                            <span class="btn-inner--icon"><i class="material-icons text-lg">file_download</i></span>
                            <span class="btn-inner--text">Download Specification</span>
                        </button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-secondary" onclick="printArea()">
                            <span class="btn-inner--icon">
                                <i class="material-icons text-lg">print</i>
                            </span>
                            <span class="btn-inner--text">Print this vehicle</span>
                        </button>
                    </div>

                    <div class="col-3">
                         <a href="{{ url_for('vehicle_blueprint.vehicle',id=car.id  + 1) }}">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="btn-inner--text">Next Vehicle</span>
                            <span class="btn-inner--icon">
                                <i class="material-icons text-lg">arrow_forward</i>
                            </span>
                        </button>
                    </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8" id="area">
                        <div class="row">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner mb-4">
                                    <div class="carousel-item active">
                                        <div class="page-header min-vh-75"
                                            style="background-image: url({{car.image_url}});">
                                            <!-- <span class="mask bg-gradient-dark"></span> -->

                                        </div>
                                    </div>
                                       {% for image in images %}
                                    <div class="carousel-item">
                                        <div class="page-header min-vh-75"
                                            style="background-image: url({{image.images}});">
                                            

                                        </div>
                                    </div>
                                     {% endfor %}
                                


                                    <div class="min-vh-75 position-absolute w-100 top-0">
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                            data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon position-absolute bottom-50"
                                                aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                            data-bs-slide="next">
                                            <span class="carousel-control-next-icon position-absolute bottom-50"
                                                aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                 {% for image in images %}
                            <div class="col-2">
                                <img style="width:100%" src={{image.images}} />
                            </div>

                            {% endfor %}
                         
                        </div>
                        <div class="pb-5"></div>
                        <div class="row">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">Specification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" id="profile-tab" data-toggle="tab" href="#profile"
                                        role="tab" aria-controls="profile" aria-selected="false">Overview</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active d-flex" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <table class="table">
                                        <tr>
                                            <th>Brand</th>
                                            <td class="text-capitalize">{{car.brand }}</td>
                                        </tr>
                                        <tr>
                                            <th>Category</th>
                                            <td class="text-capitalize">{{car.category }}</td>
                                        </tr>
                                        <tr>
                                            <th>Transmission</th>
                                            <td class="text-capitalize">{{car.transmission }}</td>
                                        </tr>
                                        <tr>
                                            <th>Year</th>
                                            <td class="text-capitalize">{{car.year.strftime('%Y') }}</td>
                                        </tr>
                                    </table>

                                    <table class="table">
                                        <tr>
                                            <th>Model</th>
                                            <td class="text-capitalize">{{car.model }}</td>
                                        </tr>
                                        <tr>
                                            <th>Drive Type</th>
                                            <td class="text-capitalize">{{car.drive_type }}</td>
                                          
                                        </tr>
                                        <tr>
                                            <th>Engine</th>
                                            <td class="text-capitalize">{{car.engine }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fuel Type</th>
                                            <td class="text-capitalize">{{car.fuel_type }}</td>
                                        </tr>
                                </div>

                                </table>

                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                Overview</div>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="card-body p-0">

                        <form role="form" method="post" action="{{ url_for('vehicle_blueprint.vehicle',id=id) }}"
                            class="text-start border">
                            <div class="card-header">

                                <p class="lead">Contact Alsmotors</p>
                            </div>

                            <div class="card-body pt-1">
                                <div class="row">
                                    <div class="col-md-12 pe-2 mb-3">
                                        <div class="input-group input-group-static mb-4">
                                            <input type="text" required name="name" class="select-css" placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pe-2 mb-3">
                                        <div class="input-group input-group-static mb-4">

                                            <input type="text" required name="phone" class="select-css" placeholder="+254">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pe-2 mb-3">
                                        <div class="input-group input-group-static mb-4">

                                            <input type="email" required name="email" class="select-css" placeholder="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pe-2 mb-3">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Your message</label>
                                            <textarea name="message" class="select-css" required rows="6"
                                                placeholder="I am interested in a price quote on this vehicle.Please contact me at your earliest convenience with your best price for this vehicle."></textarea>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-6 text-end ms-auto">

                                        <button type="submit" class="btn bg-gradient-warning mb-0">Send Message</button>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <br />
                    <div style="width:70%;margin:0 auto;">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="btn-inner--icon"><i class="material-icons text-lg">call</i></span>
                            <span class="btn-inner--text">(+254) 792 888 666</span>
                        </button>
                    </div>

                </div>
            </div>
    </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->
    <!-- -------- START Features w/ pattern background & stats & rocket -------- -->

</div>

   <script>
        function printArea() {
            const printContents = document.getElementById('area').innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>


  {% include 'includes/footer.html' %}
</div>
<!-- -------- END Features w/ pattern background & stats & rocket -------- -->
{% endblock content %}




<!-- Specific Page JS goes HERE  -->